.eye{
    width: 100%;
    fill: #fff;
}
.eyeContainer{
    width: 30px;
    background: #333;
    padding: 3px 5px;
    display: flex;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.password{
    display: flex;
}
.password input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}