*{
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
input, textarea, select{
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    padding: 0.4rem;
    font-size: 14px;
}
label{
    display: inline-block;
}
img{
    max-width: 100%;
    height: auto;
}
#root, .app-container {
    height: 100%;
}

.padding-std{padding:25px;}
.margin-left-25{margin-left: 25px;}
.margin-right-25{margin-right: 25px;}
.margin-bottom-25{margin-bottom: 25px;}
.margin-top-25{margin-top: 25px;}
.padding-small{padding:15px;}
.margin-top-15{margin-top: 15px;}
.margin-left-15{margin-left: 15px;}
.margin-right-15{margin-right: 15px;}
.margin-bottom-15{margin-bottom: 15px;}

.modal-dialog{
    max-width: 800px;
}
@media screen and (max-width: 800px) {
    .modal-dialog{
        margin: .5rem;
    }
}

.pagination-container {
    margin: 0;
    text-align: left;
}
.pagination-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.paginate {
    display: inline-block;
    margin-right: 1rem;
}
.paginate a {
    border: 1px solid #333333;
    color: #333333;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 35px;
    background: transparent;
}
.paginate a:hover,
.paginate a:active {
    text-decoration: none;
    background: #333333;
    color: #fff;
}
.paginate.selected a {
    background: #333333;
    color: #fff;
}
.paginate.paginate-next a,
.paginate.paginate-previous a {
    border: none;
}
.paginate.paginate-previous {
    margin-right: 2rem;
}
.paginate.paginate-next a:hover,
.paginate.paginate-previous a:hover {
    background: transparent;
    color: #333333;
}